<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>


<p>
    给定{% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span>的整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.您应该找出偶数索引元素（第 0 个，第 2 个，第 4 个......）的和。然后将这个和与{% if is_js %}数组{% else %}列表{% endif %} 的最后一个元素相乘。 <span>({% if is_js %}array{% else %}list{% endif %})</span>相乘。 
     不要忘记第一个元素的索引为0。
</p>

<p>
    对于一个空的{% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span>的结果总是0（零）。
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}even-the-last.png" alt="example" style="max-height: 300px"/>
</p>
<p>
   <strong>输入：</strong> {% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span>的整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>输出：</strong>一个整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>示例</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>如何使用：</strong>
    索引和分片是编码的重要元素。这在以后的
    的道路上！
</p>

<p>
   <strong>先决条件</strong>
    0 &le; len(array) &le; 20<br>
    all(isinstance(x, int) for x in array)<br>
    all(-100 &lt; x &lt; 100 for x in array)<br>
</p>
