<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
     style="float: left; "/>


<p>
    On vous donne {% if is_js %}un <span>tableau</span> <span>(array)</span>{% else %}une <span>liste</span> <span>(list)</span>{% endif %} de {% if is_js %}<span>nombres</span> <span>(numbers)</span>{% else %}<span>entiers</span> <span>(integers)</span>{% endif %}. Vous devez trouver la somme des éléments ayant un indice pair (0e, 2e, 4e...). Multipliez ensuite ce nombre additionné et le dernier élément du {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}<span>liste</span> <span>(list)</span>{% endif %} ensemble. 
     N'oubliez pas que le premier élément a un indice de 0.
</p>

<p>
    Pour un {% if is_js %}<span>tableau</span> vide <span>(array)</span>{% else %}list{% endif %}, le résultat sera toujours 0 (zéro).
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}even-the-last.png" alt="example" style="max-height: 300px"/>
</p>
<p>
   <strong>Entrée:</strong> {% if is_js %}<span>Tableau</span> <span>(array)</span>{% else %}<span>Liste</span> <span>(list)</span>{% endif %} de {% if is_js %}<span>nombres</span> <span>(numbers)</span>{% else %}<span>entiers</span> <span>(integers)</span>{% endif %}.
</p>

<p>
   <strong>Sortie:</strong> Le nombre sous forme de {% if is_js %}<span>nombre</span> <span>(number)</span>{% else %}entier <span>(integer)</span>{% endif %}.
</p>


<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Comment l'utiliser:</strong>
    Les index et les tranches sont des éléments importants du codage. Cela s'avérera utile à l'avenir!
    pratique!
</p>

<p>
   <strong>Conditions préalables:</strong>
    0 &le; len(array) &le; 20<br>
    all(isinstance(x, int) for x in array)<br>
    all(-100 &lt; x &lt; 100 for x in array)<br>
</p>
