<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>


<p>
    Sie erhalten {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> von ganzen Zahlen <span>{% if is_js %}(number){% else %}(int){% endif %}</span>. Sie sollten die Summe der Elemente mit geraden Indizes (0., 2., 4...) ermitteln. Dann multiplizieren Sie diese summierte Zahl und das letzte Element des {% if is_js %}array{% else %}list{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> miteinander. 
     Vergessen Sie nicht, dass das erste Element einen Index von 0 hat.
</p>

<p>
    Bei einem leeren {% if is_js %}array{% else %}list{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span>wird das Ergebnis immer 0 (Null) sein.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}even-the-last.png" alt="example" style="max-height: 300px"/>
</p>
<p>
   <strong>Eingabe:</strong> {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> von ganzen Zahlen <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Eine ganze Zahl <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Wie sie verwendet wird:</strong>
    Indizes und Slices sind wichtige Elemente der Codierung. Dies wird sich später als nützlich erweisen
    straße!
</p>

<p>
   <strong>Vorbedingungen:</strong>
    0 &le; len(array) &le; 20<br>
    all(isinstance(x, int) für x in array)<br>
    all(-100 &lt; x &lt; 100 für x in array)<br>
</p>
